body {
    background-color: papayawhip;
    width : 100vw;
    height: 100vh;
    text-align: center;
}

h1 {
    border: solid rgba(50, 13, 150, 0.596) 5px;
}
#gameArea {
    background-color: lightblue;
    text-align: center;
    width : 90%;
    height: 85%;
    margin: 0 auto;
}

.btn.btn-primary {
    background-color: green;
   
}

.btn.btn-secondary {
    background-color: red;
}

.cardCounter {
    border: solid black;
    height: 50px;
    width: 50px
}

.container {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.row { 
    border-color: rebeccapurple;
    height: 100%;
    
}

.col {
    border: solid black;
    height: 33%;
    padding: 1vh;
}

.cardFormat {
    width: 10.3vh;
    height: 15vh;
    border: solid black;
}

#cardCounter1 {  
    width: 23%;
    height: 30%;
    background: rgba(104, 86, 153, 0.671) 5px;
}

#cardCounter2 {  
    width: 23%;
    height: 30%;
    background: rgba(104, 86, 153, 0.671) 5px;
}

#gameMessages {
    font-style: italic;
}

audio {
    float:right;
    height:5vh; 
    width:20vh;
}