body {
    background-color: papayawhip;
    width : 100vw;
    height: 100vh;
    text-align: center;
}
h1{
    border: solid rgba(50, 13, 150, 0.596) 5px;
}
#gameArea {
    background-color: lightblue;
    text-align: center;
    width : 90%;
    height: 85%;
    margin: 0 auto;
}

.btn.btn-primary {
    background-color: green;
}

.btn.btn-secondary {
    background-color: red;
}