body {
    background-color: papayawhip;
    width : 100vw;
    height: 100vh;
    text-align: center;
}
h1{
    border: solid rgba(50, 13, 150, 0.596) 5px;
}
#gameArea {
    background-color: lightblue;
    text-align: center;
    width : 90%;
    height: 85%;
    margin: 0 auto;
}

.btn.btn-primary {
    background-color: green;
   
}

.btn.btn-secondary {
    background-color: red;
}

.cardCounter {
    border: solid black;
    height: 50px;
    width: 50px
}

.container {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.row { 
    border-color: rebeccapurple;
    height: 100%;
    
}

.col {
    border: solid black;
    height: 33%;
}

.cardFormat {
    width: 12vh;
    height: 100%;
    border: solid black;
}

.cardCounter {  
    width: 23%;
    height: 30%;
    background: rgba(104, 86, 153, 0.671) 5px;
}